{% extends 'pages/base.html' %} {% load static %} 
{% block title %}Login{% endblock title %} 



{% block main-content %} 
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Login</h3>
      <hr />
      <form method="POST" novalidate class="shadow p-5" action="">
        {% csrf_token %} {% for key, value in form.errors.items %} {{value}}
        <br />
        {% endfor %}
        <br />
        <p><label>acount:</label>{{form.username}}</p>
        <p><label>password:</label>{{form.password}}</p>
        <small><a href="{% url 'password_reset' %}">Forgot password ?</a></small>
        <br>
        <input type="hidden" name="next" value="/" />
        <center>
          <input type="submit" class="btn btn-primary mt-4" value="Login" />
        </center>
        <br>
        <div class="text-center text-primary fw-bold">
            <small>New User?
              <a href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a>
            </small>
        </div>
        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %} {% endif %}
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock main-content %}
